<app-not-found>
  [visible] = "!cart || !cart.items.length"
  notFoundMessage = "Not Found Cars"
  resetLinkText = "Back to the Homepage"
</app-not-found>

<div *ngIf="car" class="container">
  <img [src]="car.imageUrl" [alt]="car.name">

  <div class="details">
    <div class="header">
      <span class="name">
        {{car.name}}
      </span>
      <span class="favorite {{car.favorite ? '': 'not'}}">❤</span>
    </div>

    <div class="origins">
      <span *ngFor = "let origin of car.origins">
        {{origin}}
      </span>
    </div>

    <div class="tags">
      <a *ngFor = "let tag of car.tags" routerLink="/tag/{{tag}}">
        {{tag}}
      </a>
    </div>

    <div class="made-year">
      <span>
        Made year of <strong>{{car.madeYear}}</strong>
      </span>
    </div>

    <div class="price">
      <span>
        {{car.price | currency}}
      </span>
    </div>

    <button (click)="addToCart()">Add to shopping list</button>

  </div>
</div>
